@page "/configuration"
@inject IUserService UserService
@inject IEventService EventService
@inject ISnackbar Snackbar

<MudLayout>
    <CustomNavMenu></CustomNavMenu>
    <MudMainContent>

        <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
            <MudStack Row="true">
                <MudText Class="mt-4" Typo="Typo.body2">Configuración</MudText>
                <MudIconButton Icon="@Icons.Material.Filled.FilterList" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
            </MudStack>

            <MudDrawer @bind-Open="@openMobile"
                       Fixed="false"
                       Anchor="Anchor.Start"
                       Elevation="0"
                       Class="mud-height-full"
                       Style="@($"background:{Colors.Grey.Lighten3};")"
                       Variant="@DrawerVariant.Temporary">
                <MudNavMenu>

                    <MudNavLink OnClick="OpenRecoverPassword" Match="NavLinkMatch.All">
                        <MudIcon Icon="@Icons.Material.Filled.Password" Title="Cambio de contraseña" />
                        <span style="font-family: 'Inter Tight', sans-serif; font-weight: 600;">
                            <span style="color: black;">Cambio de contraseña</span>
                        </span>

                    </MudNavLink>
                    <MudNavLink OnClick="OpenSynchronizeDonarEvents" Match="NavLinkMatch.All">

                        <MudIcon Icon="@Icons.Material.Filled.MobileScreenShare" Title="Sincronizar Evento" />
                        <span style="font-family: 'Inter Tight', sans-serif; font-weight: 600;">
                            <span style="color: black;">Vinculación a donAR</span>

                        </span>
                    </MudNavLink>
                    <MudNavLink OnClick="OpenAccountVerification" Match="NavLinkMatch.All">
                        <MudIcon Icon="@Icons.Material.Filled.Verified" Title="Verificado" />
                        <span style="font-family: 'Inter Tight', sans-serif; font-weight: 600;">
                            <span style="color: black;">Solicitar Verificación</span>
                        </span>
                    </MudNavLink>
                    @if (user.Role == "Admin")
                    {
                        <MudNavLink OnClick="OpenVerificationTable" Match="NavLinkMatch.All">
                            <MudIcon Icon="@Icons.Material.Filled.TableChart" Title="Aprobar Verificación" />
                            <span style="font-family: 'Inter Tight', sans-serif; font-weight: 600;">
                                <span style="color: black;">Aprobar solicitudes de verificación</span>
                            </span>
                        </MudNavLink>
                    }
                </MudNavMenu>
            </MudDrawer>

            <MudPaper Class="mud-height-full" Style="width:100vw;height:100vh" Elevation="0">
                @if (openRecoverPassword)
                {
                    <RecoverPasswordForm></RecoverPasswordForm>
                }
                else if (openSynchronizeDonarEvents)
                {
                    <MudPaper Class="mx-auto" Elevation="0" Width="80%">
                        <MudStack Class="mx-auto pa-4" Spacing="4" Justify="Justify.Center" AlignItems="AlignItems.Center">
                            <MudPaper Elevation="0" Class="mx-auto justify-center object-center">
                                <h1 style="font-family: 'Inter Tight', sans-serif; font-weight: 600; font-size: 25px;text-align: center;">
                                    <span style="color: black;">Vinculación a </span>
                                    <span>
                                        <MudImage Src="../images/LogodonAR.png"
                                              Alt="donAR"
                                              Style="height: 20vh"
                                              ObjectFit="ObjectFit.Cover"
                                              ObjectPosition="ObjectPosition.Center"
                                              Class="mx-auto pa-4" />
                                    </span>

                                </h1>

                            </MudPaper>
                            <MudPaper Elevation="0">
                                <MudText Typo="Typo.subtitle2" Align="Align.Center">
                                    <b>
                                        Si eres usuario donAR podés vincular tu cuenta y que tus necesidades cargadas en donAR, se sincronicen automaticamente como
                                        "Eventos" en Help2Help, figurando en el mapa y tu perfil.
                                    </b>
                                </MudText>
                            </MudPaper>
                        </MudStack>
                    </MudPaper>
                    <MudText Typo="Typo.subtitle1" Align="Align.Center">¿Eres usuario de <strong>donAR</strong>?<br /></MudText>
                    <MudText Typo="Typo.subtitle1" Align="Align.Center">Dale click al botón "Verificar" para comprobar si posees cuenta alli.</MudText>
                    <div style="display: flex; justify-content: center;">
                        <MudButton Variant="Variant.Filled"
                               Color="Color.Info"
                               Disabled="@_processing"
                               OnClick="CheckDonarUser"
                               Icon="@Icons.Custom.Brands.MudBlazor">

                            @if (_processing)
                            {
                                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                                <MudText Class="ms-2">Procesando</MudText>
                            }
                            else
                            {
                                <MudText>Verificar</MudText>
                            }

                        </MudButton>
                    </div>

                    @if (isUserFromDonar)
                    {
                        <MudText Typo="Typo.body1">
                            <MudAlert Severity="Severity.Success" ContentAlignment="HorizontalAlignment.Center">
                                ¡Eres usuario de <strong>donAR</strong>! Puedes sincronizar tus eventos creados de
                                la aplicación <strong>donAR</strong> para que se visualicen en <strong>Help2Help</strong>
                            </MudAlert>
                        </MudText>

                        <MudButton Variant="Variant.Filled"
                           Class="mt-4 mb-0"
                           Color="Color.Warning"
                           OnClick="SynchronizeDonarEvents"
                           Icon="@Icons.Custom.Brands.MudBlazor">Sincronizar eventos</MudButton>
                    }
                    else
                    {
                        @if (gotResult && !isUserFromDonar)
                        {
                            <MudAlert Severity="Severity.Error" ContentAlignment="HorizontalAlignment.Center"> ¡Lo lamento! No posees cuenta en <strong>donAR</strong> </MudAlert>

                        }
                    }
                }
                else if (openAccountVerification)
                {
                    <Verification></Verification>
                }
                else if (openVerificationTable)
                {
                    <CertificatesTable></CertificatesTable>
                }
            </MudPaper>

        </MudHidden>

        <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">
            <MudPaper Class="d-flex">
                <MudPaper Class="mud-height-full mx-0" Style="width:17.5vw;height:100vh" Elevation="0">
                    <MudDrawer @bind-Open="@open"
                               Fixed="false"
                               Class="mud-width-full"
                               Anchor="Anchor.Start"
                               Elevation="0"
                               Style="@($"background:{Colors.Grey.Lighten3};")"
                               Variant="@DrawerVariant.Persistent">
                        <MudNavMenu>

                            <MudNavLink OnClick="OpenRecoverPassword" Match="NavLinkMatch.All">
                                <MudIcon Icon="@Icons.Material.Filled.Password" Title="Cambio de contraseña" />
                                <span style="font-family: 'Inter Tight', sans-serif; font-weight: 600;">
                                    <span style="color: black;">Cambio de contraseña</span>
                                </span>

                            </MudNavLink>
                            <MudNavLink OnClick="OpenSynchronizeDonarEvents" Match="NavLinkMatch.All">

                                <MudIcon Icon="@Icons.Material.Filled.MobileScreenShare" Title="Sincronizar Evento" />
                                <span style="font-family: 'Inter Tight', sans-serif; font-weight: 600;">
                                    <span style="color: black;">Vinculación a donAR</span>

                                </span>
                            </MudNavLink>
                            <MudNavLink OnClick="OpenAccountVerification" Match="NavLinkMatch.All">
                                <MudIcon Icon="@Icons.Material.Filled.Verified" Title="Verificado" />
                                <span style="font-family: 'Inter Tight', sans-serif; font-weight: 600;">
                                    <span style="color: black;">Solicitar Verificación</span>
                                </span>
                            </MudNavLink>
                            @if (user.Role == "Admin")
                            {
                                <MudNavLink OnClick="OpenVerificationTable" Match="NavLinkMatch.All">
                                    <MudIcon Icon="@Icons.Material.Filled.TableChart" Title="Aprobar Verificación" />
                                    <span style="font-family: 'Inter Tight', sans-serif; font-weight: 600;">
                                        <span style="color: black;">Aprobar solicitudes de verificación</span>
                                    </span>
                                </MudNavLink>
                            }
                        </MudNavMenu>
                    </MudDrawer>
                </MudPaper>
                <MudPaper Class="mud-height-full mx-0" Style="width:82vw;height:100vh" Elevation="0">
                    @if (openRecoverPassword)
                    {
                        <RecoverPasswordForm></RecoverPasswordForm>

                    }
                    else if (openSynchronizeDonarEvents)
                    {
                        <MudPaper Class="mx-auto" Elevation="0" Width="80%">
                            <MudStack Class="mx-auto pa-4" Spacing="4" Justify="Justify.Center" AlignItems="AlignItems.Center">
                                <MudPaper Elevation="0" Class="mx-auto justify-center object-center">
                                    <h1 style="font-family: 'Inter Tight', sans-serif; font-weight: 600; font-size: 48px;text-align: center;">
                                        <span style="color: black;">Vinculación a </span>
                                        <span>
                                            <MudImage Src="../images/LogodonAR.png"
                                                  Alt="donAR"
                                                  Style="height:35vh"
                                                  ObjectFit="ObjectFit.Cover"
                                                  ObjectPosition="ObjectPosition.Center"
                                                  Class="mx-auto pa-4" />
                                        </span>

                                    </h1>

                                </MudPaper>
                                <MudPaper Elevation="0">
                                    <MudText Typo="Typo.subtitle2" Align="Align.Center">
                                        <b>
                                            Si eres usuario donAR podés vincular tu cuenta y que tus necesidades cargadas en donAR, se sincronicen automaticamente como
                                            "Eventos" en Help2Help, figurando en el mapa y tu perfil.
                                        </b>
                                    </MudText>
                                </MudPaper>
                            </MudStack>
                        </MudPaper>
                        <MudText Typo="Typo.subtitle1" Align="Align.Center">¿Eres usuario de <strong>donAR</strong>?<br /></MudText>
                        <MudText Typo="Typo.subtitle1" Align="Align.Center">Dale click al botón "Verificar" para comprobar si posees cuenta alli.</MudText>
                        <div style="display: flex; justify-content: center;">
                            <MudButton Variant="Variant.Filled"
                                   Color="Color.Info"
                                   Disabled="@_processing"
                                   OnClick="CheckDonarUser"
                                   Icon="@Icons.Custom.Brands.MudBlazor">

                                @if (_processing)
                                {
                                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                                    <MudText Class="ms-2">Procesando</MudText>
                                }
                                else
                                {
                                    <MudText>Verificar</MudText>
                                }

                            </MudButton>
                        </div>

                        @if (isUserFromDonar)
                        {
                            <MudText Typo="Typo.body1">
                                <MudAlert Severity="Severity.Success" ContentAlignment="HorizontalAlignment.Center">
                                    ¡Eres usuario de <strong>donAR</strong>! Puedes sincronizar tus eventos creados de
                                    la aplicación <strong>donAR</strong> para que se visualicen en <strong>Help2Help</strong>
                                </MudAlert>
                            </MudText>

                            <MudButton Variant="Variant.Filled"
                               Class="mt-4 mb-0"
                               Color="Color.Warning"
                               OnClick="SynchronizeDonarEvents"
                               Icon="@Icons.Custom.Brands.MudBlazor">Sincronizar eventos</MudButton>
                        }
                        else
                        {
                            @if (gotResult && !isUserFromDonar)
                            {
                                <MudAlert Severity="Severity.Error" ContentAlignment="HorizontalAlignment.Center"> ¡Lo lamento! No posees cuenta en <strong>donAR</strong> </MudAlert>

                            }
                        }
                    }
                    else if (openAccountVerification)
                    {
                        <Verification></Verification>
                    }
                    else if (openVerificationTable)
                    {
                        <CertificatesTable></CertificatesTable>
                    }
                </MudPaper>
            </MudPaper>
        </MudHidden>
    </MudMainContent>
</MudLayout>
@*<CustomFooter></CustomFooter>*@

@code {
    bool open = true;
    bool isUserFromDonar = false;
    bool gotResult = false;

    bool openMobile = false;
    void ToggleDrawer()
    {
        openMobile = !openMobile;
    }


    private bool _processing = false;

    UserResponseDTO user = new UserResponseDTO();
    bool openRecoverPassword = true;
    bool openSynchronizeDonarEvents = false;
    bool openAccountVerification = false;
    bool openVerificationTable = false;

    private void OpenRecoverPassword()
    {
        openRecoverPassword = true;
        openSynchronizeDonarEvents = false;
        openAccountVerification = false;
        openVerificationTable = false;
    }

    private void OpenSynchronizeDonarEvents()
    {
        openRecoverPassword = false;
        openSynchronizeDonarEvents = true;
        openAccountVerification = false;
        openVerificationTable = false;
    }

    private void OpenAccountVerification()
    {
        openRecoverPassword = false;
        openSynchronizeDonarEvents = false;
        openAccountVerification = true;
        openVerificationTable = false;
    }
    private void OpenVerificationTable()
    {
        openRecoverPassword = false;
        openSynchronizeDonarEvents = false;
        openAccountVerification = false;
        openVerificationTable = true;
    }

    protected override async Task OnInitializedAsync()
    {
        await UserService.GetCurrentUserInfo();

        user = UserService.UserDTO;

        UserService.OnChange += StateHasChanged;
    }
    async Task SynchronizeDonarEvents()
    {
        //Llamar a servicio para pegarle a la API de necesidades y guardar aquellas que sean de este user
        var response = (await EventService.SynchronizeDonarEvents());
        Snackbar.Add(response.Data, Severity.Success);
    }

    async Task CheckDonarUser()
    {
        _processing = true;
        await Task.Delay(1000);
        _processing = false;

        var response = (await UserService.CheckDonarUser());

        isUserFromDonar = response;
        gotResult = true;
    }

}
