@page "/home"
@inject IPublicationService PublicationService
@inject IUserService UserService
@inject IMapService MapService
@inject IDialogService DialogService
@inject IJSRuntime JSRuntime
@implements IDisposable
@using MudBlazor.Services

<PageTitle>Help2Help</PageTitle>

<MudLayout>
    <CustomNavMenu></CustomNavMenu>
    <MudMainContent>
        <div class="container">
            <div class="menu-container">
                <!-- Contenido del menú aquí -->
                <!-- Vista Web -->
                <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                    <MudDrawer @bind-Open="@open"
                               Fixed="false"
                               Anchor="Anchor.Start"
                               Class="mud-width-full"
                               Style="width:25.5vw"
                               Elevation="0"
                               Color="Color.Default"
                               Variant="@DrawerVariant.Persistent">
                        <MudTreeView Class="mud-width-full" T="string" CanHover="true" MultiSelection="true" @bind-SelectedValues="SelectedValues"
                                     @onchange="@((ChangeEventArgs e) => UpdateMarkers(e, SelectedValues))">
                            <MudTreeViewItem id="clickEnAmbiental" Value="@("Ambiental")" Icon="fa-solid fa-seedling">
                                <MudTreeViewItem id="clickEnPapelesYCartones" Value="@("Papeles y Cartones")" Icon="fa-solid fa-trash">
                                    <MudTreeViewItem id="clickEnDiarios" Value="@("Papeles (Diarios, revistas, impresiones)")" Icon="fa-solid fa-newspaper" />
                                    <MudTreeViewItem id="clickEnCajas" Value="@("Cajas de Cartón")" Icon="fa-solid fa-box-open" />
                                    <MudTreeViewItem id="clickEnCartonCotidiano" Value="@("Cartón de uso cotidiano (Cajas de alimentos, tubitos de papel)")" Icon="fa-solid fa-box-open" />
                                    <MudTreeViewItem id="clickEnTetraBrick" Value="@("Envases tipo brick (lavados)")" Icon="fa-solid fa-box" />
                                    <MudTreeViewItem id="clickEnOtrosPapelesCartones" Value="@("Otros Papeles y Cartones")" Icon="fa-solid fa-minus" />
                                </MudTreeViewItem>
                                <MudTreeViewItem id="clickEnVidrios" Value="@("Vidrios")" Icon="fa-solid fa-trash">
                                    <MudTreeViewItem id="clickEnBotellasDeVidrio" Value="@("Botellas de Vidrio")" Icon="fa-solid fa-wine-bottle" />
                                    <MudTreeViewItem id="clickEnTarrosYFrascos" Value="@("Tarros y frascos de conservas")" Icon="fa-solid fa-jar" />
                                    <MudTreeViewItem id="clickEnJarrasYCopas" Value="@("Jarras y copas de vidrio")" Icon="fa-solid fa-wine-glass-empty" />
                                    <MudTreeViewItem id="clickEnOtrosVidrios" Value="@("Otros Vidrios")" Icon="fa-solid fa-minus" />
                                </MudTreeViewItem>
                                <MudTreeViewItem id="clickEnPlasticos" Value="@("Plásticos")" Icon="fa-solid fa-trash">
                                    <MudTreeViewItem id="clickEnBotellasDePlastico" Value="@("Botellas de Plástico")" Icon="fa-solid fa-bottle-water" />
                                    <MudTreeViewItem id="clickEnTapitas" Value="@("Tapitas")" Icon="fa-solid fa-coins" />
                                    <MudTreeViewItem id="clickEnBandejas" Value="@("Bandejas")" Icon="fa-solid fa-inbox" />
                                    <MudTreeViewItem id="clickEnBolsas" Value="@("Bolsas de plástico")" Icon="fa-solid fa-bag-shopping" />
                                    <MudTreeViewItem id="clickEnOtrosPlasticos" Value="@("Otros Plásticos")" Icon="fa-solid fa-minus" />
                                </MudTreeViewItem>
                                <MudTreeViewItem id="clickEnMetales" Value="@("Metales")" Icon="fa-solid fa-trash">
                                    <MudTreeViewItem id="clickEnAluminio" Value="@("Aluminio (Latas)")" Icon="fa-solid fa-trash-can" />
                                    <MudTreeViewItem id="clickEnCobres" Value="@("Cobre")" Icon="@Icons.Filled.Cable" />
                                    <MudTreeViewItem id="clickEnHierro" Value="@("Hierro")" Icon="fa-solid fa-lines-leaning" />
                                    <MudTreeViewItem id="clickEnOtrosMetales" Value="@("Otros Metales")" Icon="fa-solid fa-minus" />
                                </MudTreeViewItem>
                                <MudTreeViewItem id="clickEnDesechosPeligrosos" Value="@("Desechos peligrosos")" Icon="fa-solid fa-trash">
                                    <MudTreeViewItem id="clickEnPilasYBaterias" Value="@("Pilas y baterías")" Icon="@Icons.Filled.BatteryFull" />
                                    <MudTreeViewItem id="clickEnAceites" Value="@("Aceites")" Icon="fa-solid fa-bottle-droplet" />
                                    <MudTreeViewItem id="clickEnResiduoStecnologicos" Value="@("Residuos tecnológicos")" Icon="fa-solid fa-desktop" />
                                    <MudTreeViewItem id="clickEnResiduosHospitalariosInfecciosos" Value="@("Residuos hospitalarios infecciosos")" Icon="fa-solid fa-syringe" />
                                    <MudTreeViewItem id="clickEnOtrosDesechosPeligrosos" Value="@("Otros Desechos Peligrosos")" Icon="fa-solid fa-minus" />
                                </MudTreeViewItem>
                                <MudTreeViewItem id="clickEnResiduosOrganicos" Value="@("Residuos orgánicos")" Icon="fa-solid fa-trash" />
                            </MudTreeViewItem>
                            <MudTreeViewItem id="clickEnSocial" Value="@("Social")" Icon="fa-solid fa-hands-holding-child">
                                <MudTreeViewItem id="clickEnAlimentos" Value="@("Alimentos")" Icon="fa-solid fa-utensils">
                                    <MudTreeViewItem id="clickEnPerecederos" Value="@("Perecederos")" Icon="fa-solid fa-apple-whole" />
                                    <MudTreeViewItem id="clickEnNoPerecederos" Value="@("No perecederos")" Icon="fa-solid fa-cookie-bite" />
                                    <MudTreeViewItem id="clickEnLecheEnPolvo" Value="@("Leche en polvo")" Icon="fa-solid fa-cow" />
                                    <MudTreeViewItem id="clickEnLecheEntera" Value="@("Leche entera")" Icon="fa-solid fa-cow" />
                                </MudTreeViewItem>
                                <MudTreeViewItem id="clickEnArticulosParaBebes" Value="@("Artículos para Bebés")" Icon="fa-solid fa-baby-carriage" />
                                <MudTreeViewItem id="clickEnRopa" Value="@("Ropa")" Icon="fa-solid fa-shirt">
                                    <MudTreeViewItem id="clickEnNinos" Value="@("Niños")" Icon="fa-solid fa-child" />
                                    <MudTreeViewItem id="clickEnJovenes" Value="@("Jóvenes")" Icon="fa-solid fa-child" />
                                    <MudTreeViewItem id="clickEnAdultos" Value="@("Adultos")" Icon="fa-solid fa-person" />
                                </MudTreeViewItem>
                                <MudTreeViewItem id="clickEnHogar" Value="@("Hogar")" Icon="fa-solid fa-house">
                                    <MudTreeViewItem id="clickEnColchonesYFrazadas" Value="@("Colchones y frazadas")" Icon="fa-solid fa-bed" />
                                    <MudTreeViewItem id="clickEnHigieneYLimpieza" Value="@("Higiene y limpieza")" Icon="fa-solid fa-hands-bubbles" />
                                    <MudTreeViewItem id="clickEnMuebles" Value="@("Muebles")" Icon="fa-solid fa-toilet-portable" />
                                    <MudTreeViewItem id="clickEnElectrodomesticos" Value="@("Electrodomésticos")" Icon="fa-solid fa-plug" />
                                    <MudTreeViewItem id="clickEnMaterialesParaConstruccion" Value="@("Materiales para construcción")" Icon="fa-solid fa-trowel-bricks" />
                                    <MudTreeViewItem id="clickEnPintura" Value="@("Pintura")" Icon="fa-solid fa-fill-drip" />
                                    <MudTreeViewItem id="clickEnOtrosArticulosParaElHogar" Value="@("Otros artículos para el hogar")" Icon="fa-solid fa-minus" />
                                </MudTreeViewItem>
                                <MudTreeViewItem id="clickEnTecnologia" Value="@("Tecnología")" Icon="fa-solid fa-laptop">
                                    <MudTreeViewItem id="clickEnComputadoras" Value="@("Computadoras")" Icon="fa-solid fa-computer" />
                                    <MudTreeViewItem id="clickEnCelulares" Value="@("Celulares")" Icon="fa-solid fa-mobile-screen" />
                                    <MudTreeViewItem id="clickEnOtrosArtIculosTecnologicos" Value="@("Otros artículos tecnológicos")" Icon="fa-solid fa-minus" />
                                </MudTreeViewItem>
                                <MudTreeViewItem id="clickEnRecreacion" Value="@("Recreación")" Icon="fa-solid fa-puzzle-piece">
                                    <MudTreeViewItem id="clickEnJuguetes" Value="@("Juguetes")" Icon="fa-solid fa-horse" />
                                    <MudTreeViewItem id="clickEnInstrumentosMusicales" Value="@("Instrumentos musicales")" Icon="fa-solid fa-guitar" />
                                    <MudTreeViewItem id="clickEnArticulosDeportivos" Value="@("Artículos deportivos")" Icon="fa-solid fa-futbol" />
                                </MudTreeViewItem>
                                <MudTreeViewItem id="clickEnUtilesEscolaresYLibros" Value="@("Útiles escolares y libros")" Icon="fa-solid fa-book" />
                                <MudTreeViewItem id="clickEnSalud" Value="@("Salud")" Icon="fa-solid fa-notes-medical">
                                    <MudTreeViewItem id="clickEnMedicamentos" Value="@("Medicamentos")" Icon="fa-solid fa-pills" />
                                    <MudTreeViewItem id="clickEnOrtopedia" Value="@("Ortopedia")" Icon="fa-solid fa-wheelchair" />
                                    <MudTreeViewItem id="clickEnSangre" Value="@("Sangre")" Icon="@Icons.Filled.Bloodtype" />
                                </MudTreeViewItem>
                                <MudTreeViewItem id="clickEnMascotas" Value="@("Mascotas")" Icon="fa-solid fa-paw">
                                    <MudTreeViewItem id="clickEnAdopcion" Value="@("Adopción")" Icon="fa-solid fa-shield-dog" />
                                    <MudTreeViewItem id="clickEnAlimentoBalanceado" Value="@("Alimento balanceado")" Icon="fa-solid fa-bowl-food" />
                                    <MudTreeViewItem id="clickEnOtrosArticulosDeMascotas" Value="@("Otros artículos de mascotas")" Icon="fa-solid fa-minus" />
                                </MudTreeViewItem>
                                <MudTreeViewItem id="clickEnOtrosGeneral" Value="@("Otros")" Icon="fa-solid fa-location-dot" />
                            </MudTreeViewItem>
                            <MudTreeViewItem id="clickEnVoluntariado" Value="@("Voluntariado")" Icon="fa-solid fa-handshake-angle" />
                            <MudTreeViewItem id="clickEnDinero" Value="@("Dinero")" Icon="fa-solid fa-hand-holding-dollar" />
                            <MudTreeViewItem Value="@("Eventos de Donar App")" Icon="fa-solid fa-pen-clip" />
                        </MudTreeView>
                    </MudDrawer>
                </MudHidden>

                <!-- Vista Mobile -->
                <MudHidden Breakpoint="Breakpoint.MdAndDown" Invert="true">
                    <MudStack Row="true">
                        <MudText Class="mt-4" Typo="Typo.body2">Filtrar categorías</MudText>
                        <MudIconButton Icon="@Icons.Material.Filled.FilterList" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
                    </MudStack>

                    <MudDrawer @bind-Open="@openMobile"
                               Fixed="false"
                               Anchor="Anchor.Start"
                               Elevation="0"
                               Style="top:6.5vh"
                               Color="Color.Default"
                               Variant="@DrawerVariant.Temporary">
                        <MudTreeView Class="mud-width-full" T="string" CanHover="true" MultiSelection="true" @bind-SelectedValues="SelectedValues"
                                     @onchange="@((ChangeEventArgs e) => UpdateMarkers(e, SelectedValues))">
                            <MudTreeViewItem id="clickEnAmbiental" Value="@("Ambiental")" Icon="fa-solid fa-seedling">
                                <MudTreeViewItem id="clickEnPapelesYCartones" Value="@("Papeles y Cartones")" Icon="fa-solid fa-trash">
                                    <MudTreeViewItem id="clickEnDiarios" Value="@("Papeles (Diarios, revistas, impresiones)")" Icon="fa-solid fa-newspaper" />
                                    <MudTreeViewItem id="clickEnCajas" Value="@("Cajas de Cartón")" Icon="fa-solid fa-box-open" />
                                    <MudTreeViewItem id="clickEnCartonCotidiano" Value="@("Cartón de uso cotidiano (Cajas de alimentos, tubitos de papel)")" Icon="fa-solid fa-box-open" />
                                    <MudTreeViewItem id="clickEnTetraBrick" Value="@("Envases tipo brick (lavados)")" Icon="fa-solid fa-box" />
                                    <MudTreeViewItem id="clickEnOtrosPapelesCartones" Value="@("Otros Papeles y Cartones")" Icon="fa-solid fa-minus" />
                                </MudTreeViewItem>
                                <MudTreeViewItem id="clickEnVidrios" Value="@("Vidrios")" Icon="fa-solid fa-trash">
                                    <MudTreeViewItem id="clickEnBotellasDeVidrio" Value="@("Botellas de Vidrio")" Icon="fa-solid fa-wine-bottle" />
                                    <MudTreeViewItem id="clickEnTarrosYFrascos" Value="@("Tarros y frascos de conservas")" Icon="fa-solid fa-jar" />
                                    <MudTreeViewItem id="clickEnJarrasYCopas" Value="@("Jarras y copas de vidrio")" Icon="fa-solid fa-wine-glass-empty" />
                                    <MudTreeViewItem id="clickEnOtrosVidrios" Value="@("Otros Vidrios")" Icon="fa-solid fa-minus" />
                                </MudTreeViewItem>
                                <MudTreeViewItem id="clickEnPlasticos" Value="@("Plásticos")" Icon="fa-solid fa-trash">
                                    <MudTreeViewItem id="clickEnBotellasDePlastico" Value="@("Botellas de Plástico")" Icon="fa-solid fa-bottle-water" />
                                    <MudTreeViewItem id="clickEnTapitas" Value="@("Tapitas")" Icon="fa-solid fa-coins" />
                                    <MudTreeViewItem id="clickEnBandejas" Value="@("Bandejas")" Icon="fa-solid fa-inbox" />
                                    <MudTreeViewItem id="clickEnBolsas" Value="@("Bolsas de plástico")" Icon="fa-solid fa-bag-shopping" />
                                    <MudTreeViewItem id="clickEnOtrosPlasticos" Value="@("Otros Plásticos")" Icon="fa-solid fa-minus" />
                                </MudTreeViewItem>
                                <MudTreeViewItem id="clickEnMetales" Value="@("Metales")" Icon="fa-solid fa-trash">
                                    <MudTreeViewItem id="clickEnAluminio" Value="@("Aluminio (Latas)")" Icon="fa-solid fa-trash-can" />
                                    <MudTreeViewItem id="clickEnCobres" Value="@("Cobre")" Icon="@Icons.Filled.Cable" />
                                    <MudTreeViewItem id="clickEnHierro" Value="@("Hierro")" Icon="fa-solid fa-lines-leaning" />
                                    <MudTreeViewItem id="clickEnOtrosMetales" Value="@("Otros Metales")" Icon="fa-solid fa-minus" />
                                </MudTreeViewItem>
                                <MudTreeViewItem id="clickEnDesechosPeligrosos" Value="@("Desechos peligrosos")" Icon="fa-solid fa-trash">
                                    <MudTreeViewItem id="clickEnPilasYBaterias" Value="@("Pilas y baterías")" Icon="@Icons.Filled.BatteryFull" />
                                    <MudTreeViewItem id="clickEnAceites" Value="@("Aceites")" Icon="fa-solid fa-bottle-droplet" />
                                    <MudTreeViewItem id="clickEnResiduoStecnologicos" Value="@("Residuos tecnológicos")" Icon="fa-solid fa-desktop" />
                                    <MudTreeViewItem id="clickEnResiduosHospitalariosInfecciosos" Value="@("Residuos hospitalarios infecciosos")" Icon="fa-solid fa-syringe" />
                                    <MudTreeViewItem id="clickEnOtrosDesechosPeligrosos" Value="@("Otros Desechos Peligrosos")" Icon="fa-solid fa-minus" />
                                </MudTreeViewItem>
                                <MudTreeViewItem id="clickEnResiduosOrganicos" Value="@("Residuos orgánicos")" Icon="fa-solid fa-trash" />
                            </MudTreeViewItem>
                            <MudTreeViewItem id="clickEnSocial" Value="@("Social")" Icon="fa-solid fa-hands-holding-child">
                                <MudTreeViewItem id="clickEnAlimentos" Value="@("Alimentos")" Icon="fa-solid fa-utensils">
                                    <MudTreeViewItem id="clickEnPerecederos" Value="@("Perecederos")" Icon="fa-solid fa-apple-whole" />
                                    <MudTreeViewItem id="clickEnNoPerecederos" Value="@("No perecederos")" Icon="fa-solid fa-cookie-bite" />
                                    <MudTreeViewItem id="clickEnLecheEnPolvo" Value="@("Leche en polvo")" Icon="fa-solid fa-cow" />
                                    <MudTreeViewItem id="clickEnLecheEntera" Value="@("Leche entera")" Icon="fa-solid fa-cow" />
                                </MudTreeViewItem>
                                <MudTreeViewItem id="clickEnArticulosParaBebes" Value="@("Artículos para Bebés")" Icon="fa-solid fa-baby-carriage" />
                                <MudTreeViewItem id="clickEnRopa" Value="@("Ropa")" Icon="fa-solid fa-shirt">
                                    <MudTreeViewItem id="clickEnNinos" Value="@("Niños")" Icon="fa-solid fa-child" />
                                    <MudTreeViewItem id="clickEnJovenes" Value="@("Jóvenes")" Icon="fa-solid fa-child" />
                                    <MudTreeViewItem id="clickEnAdultos" Value="@("Adultos")" Icon="fa-solid fa-person" />
                                </MudTreeViewItem>
                                <MudTreeViewItem id="clickEnHogar" Value="@("Hogar")" Icon="fa-solid fa-house">
                                    <MudTreeViewItem id="clickEnColchonesYFrazadas" Value="@("Colchones y frazadas")" Icon="fa-solid fa-bed" />
                                    <MudTreeViewItem id="clickEnHigieneYLimpieza" Value="@("Higiene y limpieza")" Icon="fa-solid fa-hands-bubbles" />
                                    <MudTreeViewItem id="clickEnMuebles" Value="@("Muebles")" Icon="fa-solid fa-toilet-portable" />
                                    <MudTreeViewItem id="clickEnElectrodomesticos" Value="@("Electrodomésticos")" Icon="fa-solid fa-plug" />
                                    <MudTreeViewItem id="clickEnMaterialesParaConstruccion" Value="@("Materiales para construcción")" Icon="fa-solid fa-trowel-bricks" />
                                    <MudTreeViewItem id="clickEnPintura" Value="@("Pintura")" Icon="fa-solid fa-fill-drip" />
                                    <MudTreeViewItem id="clickEnOtrosArticulosParaElHogar" Value="@("Otros artículos para el hogar")" Icon="fa-solid fa-minus" />
                                </MudTreeViewItem>
                                <MudTreeViewItem id="clickEnTecnologia" Value="@("Tecnología")" Icon="fa-solid fa-laptop">
                                    <MudTreeViewItem id="clickEnComputadoras" Value="@("Computadoras")" Icon="fa-solid fa-computer" />
                                    <MudTreeViewItem id="clickEnCelulares" Value="@("Celulares")" Icon="fa-solid fa-mobile-screen" />
                                    <MudTreeViewItem id="clickEnOtrosArtIculosTecnologicos" Value="@("Otros artículos tecnológicos")" Icon="fa-solid fa-minus" />
                                </MudTreeViewItem>
                                <MudTreeViewItem id="clickEnRecreacion" Value="@("Recreación")" Icon="fa-solid fa-puzzle-piece">
                                    <MudTreeViewItem id="clickEnJuguetes" Value="@("Juguetes")" Icon="fa-solid fa-horse" />
                                    <MudTreeViewItem id="clickEnInstrumentosMusicales" Value="@("Instrumentos musicales")" Icon="fa-solid fa-guitar" />
                                    <MudTreeViewItem id="clickEnArticulosDeportivos" Value="@("Artículos deportivos")" Icon="fa-solid fa-futbol" />
                                </MudTreeViewItem>
                                <MudTreeViewItem id="clickEnUtilesEscolaresYLibros" Value="@("Útiles escolares y libros")" Icon="fa-solid fa-book" />
                                <MudTreeViewItem id="clickEnSalud" Value="@("Salud")" Icon="fa-solid fa-notes-medical">
                                    <MudTreeViewItem id="clickEnMedicamentos" Value="@("Medicamentos")" Icon="fa-solid fa-pills" />
                                    <MudTreeViewItem id="clickEnOrtopedia" Value="@("Ortopedia")" Icon="fa-solid fa-wheelchair" />
                                    <MudTreeViewItem id="clickEnSangre" Value="@("Sangre")" Icon="@Icons.Filled.Bloodtype" />
                                </MudTreeViewItem>
                                <MudTreeViewItem id="clickEnMascotas" Value="@("Mascotas")" Icon="fa-solid fa-paw">
                                    <MudTreeViewItem id="clickEnAdopcion" Value="@("Adopción")" Icon="fa-solid fa-shield-dog" />
                                    <MudTreeViewItem id="clickEnAlimentoBalanceado" Value="@("Alimento balanceado")" Icon="fa-solid fa-bowl-food" />
                                    <MudTreeViewItem id="clickEnOtrosArticulosDeMascotas" Value="@("Otros artículos de mascotas")" Icon="fa-solid fa-minus" />
                                </MudTreeViewItem>
                                <MudTreeViewItem id="clickEnOtrosGeneral" Value="@("Otros")" Icon="fa-solid fa-location-dot" />
                            </MudTreeViewItem>
                            <MudTreeViewItem id="clickEnVoluntariado" Value="@("Voluntariado")" Icon="fa-solid fa-handshake-angle" />
                            <MudTreeViewItem id="clickEnDinero" Value="@("Dinero")" Icon="fa-solid fa-hand-holding-dollar" />
                            <MudTreeViewItem Value="@("Eventos de Donar App")" Icon="fa-solid fa-pen-clip" />
                        </MudTreeView>
                    </MudDrawer>
                </MudHidden>
            </div>
            <div class="map-container">
                <!-- Contenido del mapa aquí -->

                <!-- Vista Web -->
                <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                <MudOverlay Visible="isVisible" Class="ml-10 z-100" Style="height: 100%;" DarkBackground="true" Absolute="true">
                    <MudStack Row="true" Style="margin-left:50%;width:100%">
                        <MudGrid Class="ml-16" Justify="Justify.FlexStart">
                            <MudItem>
                                <MudProgressCircular Color="Color.Surface" Indeterminate="true" />
                            </MudItem>
                            <MudItem Style="display: flex; align-items: center;">
                                <MudText Typo="Typo.subtitle1" Color="Color.Dark">
                                    <b>Cargando Eventos...</b>
                                </MudText>
                            </MudItem>
                        </MudGrid>
                    </MudStack>
                </MudOverlay>
                 </MudHidden>
                 <!-- Vista Mobile -->
                  <MudHidden Breakpoint="Breakpoint.MdAndDown" Invert="true">
                <MudOverlay Visible="isVisible" Class="z-100" Style="height: 100%;top: 12.2vh;" DarkBackground="true" Absolute="true">
                    <MudStack Row="true">
                        <MudGrid Justify="Justify.FlexStart">
                            <MudItem>
                                <MudProgressCircular Color="Color.Surface" Indeterminate="true" />
                            </MudItem>
                            <MudItem Style="display: flex; align-items: center;">
                                <MudText Typo="Typo.subtitle1" Color="Color.Dark">
                                    <b>Cargando Eventos...</b>
                                </MudText>
                            </MudItem>
                        </MudGrid>
                    </MudStack>
                </MudOverlay>
                 </MudHidden>
                <MudCard Elevation="10" Class="d-flex fixed z-90 mt-2 ml-2" MaxHeight="10vh">
                    <div class="row">
                        <div class="col-sm-12 btn-group" style="padding-top:10px; text-align: left; width:100%">
                            <input id="pac-input" Class="search-location" type="text" placeholder="Buscar lugar" />
                        </div>
                    </div>
                </MudCard>

                <div id="map"></div>
            </div>
        </div>

    </MudMainContent>
</MudLayout>
@*<CustomFooter></CustomFooter>*@


@code {
    public User user = new User();

    List<MapResponseDTO> markers = null;

    private HashSet<string> SelectedValues { get; set; }

    private bool isVisible;
    bool open = true;
    bool openMobile = false;
    void ToggleDrawer()
    {
        openMobile = !openMobile;
    }


    protected override async void OnInitialized()
    {
        user = (await UserService.SetUserInformationWhenExternalLogin()).Data;

        if ((user.AuthenticationType == "Google" || user.AuthenticationType == "Facebook") && user.TermsAndConditionsAccepted == false)
        {
            await OpenDialog();
        }
        MapService.OnChange += StateHasChanged;

        if(!user.NotShowGuide) await OpenQuickTips();

        await JSRuntime.InvokeVoidAsync("addIdsToCheckboxElements", null);
    }
    bool LicenseAccepted = false;

    private async Task OpenDialog()
    {
        var options = new DialogOptions() { DisableBackdropClick = true };
        var result = await DialogService.Show<TermsAndConditionsDialog>("Términos y Condiciones de Help2Help",
            options).Result;

        if (!result.Cancelled)
        {
            LicenseAccepted = (bool)(result.Data ?? false);
        }
        if (LicenseAccepted) UserService.SetTermsAndConditionsValue();
    }

    private async Task OpenQuickTips()
    {
        var options = new DialogOptions() { DisableBackdropClick = true };
        var result = await DialogService.Show<QuickTipsDialog>("Guía Rápida",
            options).Result;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isVisible = true;
            
            await JSRuntime.InvokeVoidAsync("initialize", null);
            await JSRuntime.InvokeVoidAsync("watsonAssistant", null);
            markers = await MapService.GetMapMarkers();
            await JSRuntime.InvokeVoidAsync("create_markers", markers);
            isVisible = false;
            StateHasChanged();
        }
        await JSRuntime.InvokeVoidAsync("show_marker", SelectedValues);
    }

    private async Task UpdateMarkers(ChangeEventArgs e, HashSet<string> selectedValues)
    {
        await JSRuntime.InvokeVoidAsync("show_marker", SelectedValues);
    }

    public void Dispose()
    {
        MapService.OnChange -= StateHasChanged;
    }
}