@using System.ComponentModel.DataAnnotations
@inject IUserService UserService
@inject IEventService EventService
@inject IPublicationService PublicationService
@inject ILikeService LikeService
@inject ICommentService CommentService
@inject IDialogService DialogService
@implements IDisposable
@attribute [Authorize]

<style>
    body {
        min-height: 100vh;
    }
</style>
<MudLayout>
    <CustomNavMenu></CustomNavMenu>
    <MudMainContent>
        <MudGrid Spacing="0" Justify="Justify.Center" Style="width:100%;">
            <div class="main-card">

                <MudPaper Height="25vh"
                          Style="@($"background-image:url('" + portraitUrl + "');border-top-left-radius:30%; border-bottom-right-radius:30%; position: relative")"
                          Square="true"
                          Elevation="0">
                    @{
                        string photo = user.ProfilePicture == string.Empty ? "/images/user.png" : user.ProfilePicture;
                    }
                    <MudStack Row="true">
                        <!--VISTA MOBILE-->
                        <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
                            <MudImage Src="@photo"
                                      Fluid="true"
                                      Height="110"
                                      Width="110"
                                      Alt="Profile"
                                      Elevation="25"
                                      Class="rounded-circle ml-2 mt-5" />
                        </MudHidden>
                        <!--VISTA WEB-->
                        <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">
                            <MudImage Src="@photo"
                                      Fluid="true"
                                      Height="125"
                                      Width="125"
                                      Alt="Profile"
                                      Elevation="25"
                                      Class="rounded-circle ml-2 mt-5" />
                        </MudHidden>
                        @*BOTON PARA FOTO DE PERFIL*@
                        <MudFileUpload T="IBrowserFile" Accept=".png,.jpg,.jpeg,.svg" OnFilesChanged="UploadProfilePicture" Style="bottom:-90px;right:50px;" MaximumFileCount="1">
                            <ButtonTemplate>
                                <MudIconButton Style="position: absolute;"
                                               HtmlTag="label"
                                               Color="Color.Dark"
                                               Icon="@Icons.Filled.PhotoCamera"
                                               for="@context">
                                </MudIconButton>
                            </ButtonTemplate>
                        </MudFileUpload>
                    </MudStack>


                    @*BOTON PARA FOTO DE PORTADA*@
                    <MudIconButton Style="position: absolute; top:10px; right: 10px;"
                                   HtmlTag="label"
                                   Color="Color.Dark"
                                   Icon="@Icons.Filled.PhotoCamera"
                                   OnClick="@((e) => UploadPortrait())">
                    </MudIconButton>
                </MudPaper>
                <MudCard Height="auto" Outlined="true" Style="@($"background:{Colors.Shades.White};")" Class="d-block mt-4 rounded-lg">
                    @{
                        string fullName = string.Concat(@user.FirstName, ' ', @user.LastName);
                        string whatsapp = string.Concat("https://wa.me/", @UserService.UserDTO.Phone, "?text=Hola!%20Vi%20su%20perfil%20en%20Help2Help%20");
                        string direction = string.Empty;
                        if (@user.Street != string.Empty) direction = string.Concat(@user.Street, " ", @user.StreetNumber, ", ", @user.Locality, ", ", @user.Province, ", ", @user.Country);
                    }
                    <MudCardHeader Class="my-0 pb-0 pt-0 gap-1">

                        <CardHeaderContent>
                            <MudStack Class="gap-1" Row="true">
                                <MudText Typo="Typo.h6" Align="Align.Start"><b>@fullName</b></MudText>
                                @if (@user.IsONGVerified)
                                {
                                    <MudIcon Class="mt-1" Icon="@Icons.Material.Filled.Verified" Color="Color.Info" Title="Verified" />

                                }
                            </MudStack>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudIconButton Icon="@Icons.Filled.Edit"
                                           Color="Color.Default"
                                           Class="pt-3"
                                           OnClick="@((e) => EditUser(user))"
                                           aria-label="edit"></MudIconButton>
                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardContent Class="pl-0 pt-0">
                        <MudGrid Spacing="0" Justify="Justify.Center" Class="pl-0 ml-0" Style="width:100%;">
                            <MudItem Style="width:40%;" Class="pl-2 pb-2" xs="12" sm="6">

                                @if (user.FirstName == string.Empty && user.LastName == string.Empty && user.Email == string.Empty)
                                {
                                    <MudSkeleton />
                                    <MudSkeleton />
                                    <MudSkeleton />
                                }
                                else
                                {
                                    <MudList Dense="true" Clickable="false">
                                        <MudListItem Text="@user.Email" Icon="@Icons.Filled.Mail" />
                                        @if (direction != string.Empty)
                                        {
                                            <MudListItem Text="@direction" Icon="@Icons.Filled.Place" />
                                        }
                                        @if (user.WebPageLink != string.Empty)
                                        {
                                            <MudListItem Icon="@Icons.Filled.Web">
                                                <MudLink Href="@user.WebPageLink">Página web</MudLink>
                                            </MudListItem>
                                        }
                                    </MudList>
                                }
                                <MudStack Row="true" Class="ml-4">
                                    @if (user.Phone != string.Empty)
                                    {
                                        <MudIconButton Icon="@Icons.Material.Filled.Whatsapp"
                                                   Style="@($"background:#25d366;color:#FFF;")"
                                                   Target="_blank"
                                                   Size="Size.Small"
                                                   Href="@whatsapp"
                                                   aria-label="share"></MudIconButton>
                                    }
                                    else
                                    {
                                        <MudIconButton Icon="@Icons.Material.Filled.Whatsapp"
                                                   Target="_blank"
                                                   Size="Size.Small"
                                                   Href="@whatsapp"
                                                   Disabled="true" aria-label="share"></MudIconButton>

                                    }
                                    @if (user.FacebookLink != string.Empty)
                                    {
                                        <MudIconButton Icon="@Icons.Custom.Brands.Facebook"
                                                   Style="@($"background:#3b5998;color:#FFF;")"
                                                   Target="_blank"
                                                   Size="Size.Small"
                                                   Href="@user.FacebookLink"
                                                   aria-label="share"></MudIconButton>
                                    }
                                    else
                                    {
                                        <MudIconButton Icon="@Icons.Custom.Brands.Facebook"
                                                   Target="_blank"
                                                   Size="Size.Small"
                                                   Disabled="true" aria-label="share"></MudIconButton>
                                    }
                                    @if (user.InstagramLink != string.Empty)
                                    {
                                        <MudIconButton Icon="@Icons.Custom.Brands.Instagram"
                                                   Style="@($"background:radial-gradient(circle farthest-corner at 28% 100%, #fcdf8f 0%, #fbd377 10%, #fa8e37 22%,  #f73344 35%, transparent 65%), linear-gradient(145deg, #3051f1 10%, #c92bb7 70%);color:#FFF;")"
                                                   Target="_blank"
                                                   Size="Size.Small"
                                                   Href="@user.InstagramLink"
                                                   aria-label="share"></MudIconButton>
                                    }
                                    else
                                    {
                                        <MudIconButton Icon="@Icons.Custom.Brands.Instagram"
                                                   Target="_blank"
                                                   Size="Size.Small"
                                                   Disabled="true" aria-label="share"></MudIconButton>
                                    }
                                </MudStack>
                            </MudItem>
                            <MudItem Style="width:50%;" Class="pl-2" xs="12" sm="6">
                                @if (@user.Description == string.Empty)
                                {
                                    <MudText Typo="Typo.body1">Aquí puedes añadir una descripción de tu actividad o de la actividad de la organización. Más información significa que otras personas podrán conocer más sobre ti.</MudText>
                                }
                                else
                                {
                                    <MudText Typo="Typo.body1">@user.Description</MudText>
                                }
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
                <MudGrid Spacing="2" Justify="Justify.SpaceBetween">
                    <!-- Vista Web -->
                    <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                        <MudItem Style="width:50%;" xs="12" sm="6">
                            <MudPaper Height="auto" Elevation="2" Class="relative mt-4 mb-4 rounded-lg" Style="@($"background:{Colors.Shades.White};")">
                                <MudGrid Spacing="0" Justify="Justify.Center" Style="margin:0;padding:0;max-height:auto; height:auto; ">
                                    <MudItem Style="width:85%;margin:0;padding:0;">
                                        <MudText Typo="Typo.h6"
                                                 Class="ml-2 pt-2 pb-2"
                                                 Align="Align.Start"><b>Eventos</b></MudText>
                                    </MudItem>
                                    <MudItem Style="width:15%;margin:0;padding:0;">
                                        <MudIconButton Icon="@Icons.Material.Filled.Add"
                                                       Color="Color.Default"
                                                       Href="Event"></MudIconButton>
                                    </MudItem>
                                </MudGrid>
                            </MudPaper>
                            @if (EventService.Events?.Count == 0)
                            {
                                @if (eventResponse)
                                {
                                    <MudGrid Justify="Justify.FlexStart">
                                        <MudItem>
                                            <MudProgressCircular Color="Color.Default" Indeterminate="true" />
                                        </MudItem>
                                        <MudItem Style="display: flex; align-items: center;">
                                            <MudText Typo="Typo.subtitle2">Cargando Eventos...</MudText>
                                        </MudItem>
                                    </MudGrid>
                                }
                                else
                                {
                                    <MudText Typo="Typo.body1">No se han encontrado eventos</MudText>
                                }
                            }
                            else
                            {
                                @foreach (var eventCard in EventService.Events)
                                {
                                    <MudCard Outlined="true" Elevation="6" Class="mb-3 rounded-lg" Style="width:100%; heigth:auto;">
                                        <MudCardHeader Class="pb-0">
                                            <CardHeaderAvatar>
                                                @switch (eventCard.SubCategory)
                                                {
                                                    case "Papeles (Diarios, revistas, impresiones)":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/1-PapelYCarton.png" />
                                                        break;
                                                    case "Cajas de Cartón":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/1-PapelYCarton.png" />
                                                        break;
                                                    case "Cartón de uso cotidiano (Cajas de alimentos, tubitos de papel)":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/1-PapelYCarton.png" />
                                                        break;
                                                    case "Envases tipo brick (lavados)":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/1-PapelYCarton.png" />
                                                        break;
                                                    case "Otros Papeles y Cartones":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/1-PapelYCarton.png" />
                                                        break;
                                                    case "Botellas de Vidrio":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/2-Vidrio.png" />
                                                        break;
                                                    case "Tarros y frascos de conservas":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/2-Vidrio.png" />
                                                        break;
                                                    case "Jarras y copas de vidrio":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/2-Vidrio.png" />
                                                        break;
                                                    case "Otros Vidrios":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/2-Vidrio.png" />
                                                        break;
                                                    case "Botellas de Plástico":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/3-Plásticos.png" />
                                                        break;
                                                    case "Tapitas":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/3-Plásticos.png" />
                                                        break;
                                                    case "Bandejas":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/3-Plásticos.png" />
                                                        break;
                                                    case "Bolsas de plástico":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/3-Plásticos.png" />
                                                        break;
                                                    case "Otros Plásticos":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/3-Plásticos.png" />
                                                        break;
                                                    case "Aluminio (Latas)":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/4-Metales.png" />
                                                        break;
                                                    case "Cobre":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/4-Metales.png" />
                                                        break;
                                                    case "Hierro":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/4-Metales.png" />
                                                        break;
                                                    case "Otros Metales":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/4-Metales.png" />
                                                        break;
                                                    case "Pilas y baterías":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/6-DesechosPeligrosos.png" />
                                                        break;
                                                    case "Aceites":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/6-DesechosPeligrosos.png" />
                                                        break;
                                                    case "Residuos tecnológicos":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/6-DesechosPeligrosos.png" />
                                                        break;
                                                    case "Residuos hospitalarios infecciosos":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/6-DesechosPeligrosos.png" />
                                                        break;
                                                    case "Otros Desechos Peligrosos":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/6-DesechosPeligrosos.png" />
                                                        break;
                                                    case "Residuos orgánicos":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/19-Organicos.png" />
                                                        break;
                                                    case "Perecederos":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/7-Alimentos.png" />
                                                        break;
                                                    case "No perecederos":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/7-Alimentos.png" />
                                                        break;
                                                    case "Leche en polvo":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/7-Alimentos.png" />
                                                        break;
                                                    case "Leche entera":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/7-Alimentos.png" />
                                                        break;
                                                    case "Artículos para Bebés":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/8-Bebés.png" />
                                                        break;
                                                    case "Niños":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/9-Ropa.png" />
                                                        break;
                                                    case "Jóvenes":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/9-Ropa.png" />
                                                        break;
                                                    case "Adultos":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/9-Ropa.png" />
                                                        break;
                                                    case "Colchones y frazadas":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/10-Hogar.png" />
                                                        break;
                                                    case "Higiene y limpieza":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/10-Hogar.png" />
                                                        break;
                                                    case "Muebles":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/10-Hogar.png" />
                                                        break;
                                                    case "Electrodomésticos":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/10-Hogar.png" />
                                                        break;
                                                    case "Materiales para construcción":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/10-Hogar.png" />
                                                        break;
                                                    case "Pintura":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/10-Hogar.png" />
                                                        break;
                                                    case "Otros artículos para el hogar":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/10-Hogar.png" />
                                                        break;
                                                    case "Computadoras":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/11-Tecnología.png" />
                                                        break;
                                                    case "Celulares":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/11-Tecnología.png" />
                                                        break;
                                                    case "Otros artículos tecnológicos":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/11-Tecnología.png" />
                                                        break;
                                                    case "Juguetes":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/12-Recreación.png" />
                                                        break;
                                                    case "Instrumentos musicales":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/12-Recreación.png" />
                                                        break;
                                                    case "Artículos deportivos":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/12-Recreación.png" />
                                                        break;
                                                    case "Otros artículos para recreación":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/12-Recreación.png" />
                                                        break;
                                                    case "Útiles escolares y libros":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/13-UtilesEscolares.png" />
                                                        break;
                                                    case "Medicamentos":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/14-Salud.png" />
                                                        break;
                                                    case "Ortopedia":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/14-Salud.png" />
                                                        break;
                                                    case "Sangre":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/14-Salud.png" />
                                                        break;
                                                    case "Otros artículos para salud":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/14-Salud.png" />
                                                        break;
                                                    case "Adopción":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/15-Mascotas.png" />
                                                        break;
                                                    case "Alimento balanceado":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/15-Mascotas.png" />
                                                        break;
                                                    case "Otros artículos de mascotas":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/15-Mascotas.png" />
                                                        break;
                                                    case "Voluntariado":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/18-Voluntariado.png" />
                                                        break;
                                                    case "Dinero":
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/17-Dinero.png" />
                                                        break;
                                                    default:
                                                        <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/16-Otro.png" />
                                                        break;
                                                }
                                            </CardHeaderAvatar>
                                            <CardHeaderContent>
                                                <MudText Typo="Typo.h6"><b>@eventCard.Title</b></MudText>
                                            </CardHeaderContent>
                                            <CardHeaderActions>
                                                <MudIconButton Icon="@Icons.Filled.Edit"
                                                       Color="Color.Default"
                                                       OnClick="@((e) => EditEvent(eventCard))"
                                                       aria-label="edit"></MudIconButton>
                                            </CardHeaderActions>
                                        </MudCardHeader>
                                        <MudCardContent Class="pb-0">
                                            <MudText Typo="Typo.body1">@eventCard.Description</MudText>

                                            @*<MudDivider DividerType="DividerType.FullWidth" Class="my-6" Style="@($"background:{Colors.Shades.Black};")" />*@
                                            <MudGrid Justify="Justify.FlexStart" Spacing="2">
                                                <MudItem>
                                                    <MudText Typo="Typo.subtitle2" Style="@($"color:{Colors.Grey.Darken1};")">@eventCard.FatherCategory</MudText>
                                                </MudItem>
                                                <MudItem>
                                                    <MudText Typo="Typo.subtitle2" Style="@($"color:{Colors.Grey.Darken1};")">@eventCard.MainCategory</MudText>
                                                </MudItem>
                                                <MudItem>
                                                    <MudText Typo="Typo.subtitle2" Style="@($"color:{Colors.Grey.Darken1};")">@eventCard.SubCategory</MudText>
                                                </MudItem>
                                            </MudGrid>
                                            @{
                                                var date = string.Concat(eventCard.StartDate.ToShortDateString(), " - ", eventCard.EndDate.ToShortDateString());
                                            }
                                            <MudText Typo="Typo.subtitle2">@date</MudText>
                                            @{
                                                var st = string.Concat(eventCard.Street, " ", eventCard.StreetNumber, ", ", eventCard.City, ", ", eventCard.Province);
                                            }
                                            <MudText Typo="Typo.subtitle2" Style="@($"color:{Colors.Grey.Darken1};")">@st</MudText>
                                        </MudCardContent>
                                        <MudCardActions Class="mt-n2 pt-n4 mr-0">
                                            @{
                                                var wppLink = string.Concat("https://wa.me/", @UserService.UserDTO.Phone, "?text=Hola!%20Me%20comunico%20por%20el%20evento%20", @eventCard.Title);
                                            }
                                            <MudIconButton Style="@($"background:#25d366;color:#FFF;")"
                                                   Target="_blank"
                                                   Size="Size.Medium"
                                                   Href="@wppLink"
                                                   Class="ml-auto mr-4"
                                                   Icon="@Icons.Material.Filled.Whatsapp"></MudIconButton>
                                        </MudCardActions>
                                    </MudCard>
                                }
                            }

                        </MudItem>
                        <MudItem Style="width:50%;" xs="12" sm="6">
                            <MudPaper Height="auto" Elevation="2" Class="relative mt-4 mb-4 rounded-lg" Style="@($"background:{Colors.Shades.White};")">
                                <MudGrid Spacing="0" Justify="Justify.Center" Style="margin:0;padding:0;max-height:auto; height:auto; ">
                                    <MudItem Style="width:85%;margin:0;padding:0;">
                                        <MudText Typo="Typo.h6"
                                                 Class="ml-2 pt-2 pb-2"
                                                 Align="Align.Start"><b>Publicaciones</b></MudText>
                                    </MudItem>
                                    <MudItem Style="width:15%;margin:0;padding:0;">
                                        <MudIconButton Icon="@Icons.Material.Filled.Add"
                                                       Color="Color.Default"
                                                       OnClick="@((e) => OpenDialog(closeButton))">
                                        </MudIconButton>
                                    </MudItem>
                                </MudGrid>
                            </MudPaper>
                            @if (publications.Count == 0)
                            {
                                @if (publicationResponse)
                                {
                                    <MudGrid Justify="Justify.FlexStart">
                                        <MudItem>
                                            <MudProgressCircular Color="Color.Default" Indeterminate="true" />
                                        </MudItem>
                                        <MudItem Style="display: flex; align-items: center;">
                                            <MudText Typo="Typo.subtitle2">Cargando Publicaciones...</MudText>
                                        </MudItem>
                                    </MudGrid>
                                }
                                else
                                {
                                    <MudText Typo="Typo.body1">No se han encontrado publicaciones</MudText>
                                }
                            }
                            else
                            {
                                @foreach (var publication in publications)
                                {
                                    <MudCard Class="mb-3 rounded-lg" Style="width:100%; heigth:auto;">
                                        <MudCardHeader Class="mb-0 gap-1">
                                            <CardHeaderAvatar>
                                                @{
                                                    string photo = user.ProfilePicture == string.Empty ? "/images/user.png" : user.ProfilePicture;
                                                }
                                                <MudAvatar Size="Size.Medium" Image="@photo" />
                                            </CardHeaderAvatar>
                                            <CardHeaderContent>
                                                @{
                                                    string fullName = string.Concat(@user.FirstName, ' ', @user.LastName);
                                                }

                                                <MudStack Class="gap-1" Row="true">
                                                    <MudText Typo="Typo.body1">@fullName</MudText>
                                                    @if (@user.IsONGVerified)
                                                    {
                                                        <MudIcon Icon="@Icons.Material.Filled.Verified" Color="Color.Info" Title="Verified" />

                                                    }
                                                </MudStack>
                                                <MudText Typo="Typo.caption">@publication.CreatedDate</MudText>
                                            </CardHeaderContent>
                                            <CardHeaderActions>
                                                <MudIconButton Icon="@Icons.Filled.Edit"
                                                       Color="Color.Default"
                                                       OnClick="@((e) => EditPublication(publication))"
                                                       aria-label="edit"></MudIconButton>
                                            </CardHeaderActions>
                                        </MudCardHeader>
                                        <MudCardContent Class="mt-0">
                                            @if (publication.Images.Count > 1)
                                            {
                                                <MudCarousel Class="mud-width-full" Style="height:15rem;"
                                                 ShowArrows="true"
                                                 ShowBullets="false"
                                                 EnableSwipeGesture="true"
                                                 AutoCycle="false"
                                                 TData="object">
                                                    @foreach (var image in publication.Images)
                                                    {
                                                        <MudCarouselItem Transition="Transition.Slide">
                                                            <MudImage Fluid="true"
                                                      Src="@image.FileContent"
                                                      ObjectFit="ObjectFit.None"
                                                      Height="250" />
                                                        </MudCarouselItem>
                                                    }
                                                </MudCarousel>
                                            }
                                            else if (publication.Images.Count == 1)
                                            {
                                                <MudImage Class="mud-width-full"
                                              Src="@publication.Images.FirstOrDefault().FileContent"
                                              Fluid="true"
                                              ObjectFit="ObjectFit.None"
                                              Height="250" />
                                            }
                                            <MudText Class="mt-4" Typo="Typo.body2">@publication.Description</MudText>
                                        </MudCardContent>
                                        <MudCardActions>
                                            <MudPaper Class="d-flex flex-column flex-grow-1 gap-0" Elevation="0">
                                                <MudPaper Class="pa-0" Elevation="0">
                                                    <MudStack Row="true">
                                                        <MudText Class="ml-1 mr-n3 pa-0" Typo="Typo.body1">@publication.Like.Count</MudText>
                                                        <MudIconButton Class="pa-0 ma-0"
                                                               Icon="@Icons.Material.Filled.Favorite"
                                                               OnClick="@((e) => Like(publication.Id))"
                                                               DisableRipple="true"
                                                               Color="@((publication.Like.Liked)  ? Color.Error : Color.Default)" />
                                                    </MudStack>
                                                </MudPaper>
                                                <MudPaper Class="pa-0" Elevation="0">
                                                    <MudStack Row="true">
                                                        <MudTextField Class="mt-n4" @bind-Value="NewCommentText" DisableUnderLine="true" Placeholder="Agrega un comentario" />
                                                        <MudIconButton Class="pa-0 mt-1"
                                                               Icon="@Icons.Material.Filled.Send"
                                                               OnClick="@((e) => AddComment(publication.Id))"
                                                               Color="Color.Info"
                                                               DisableRipple="true" />
                                                    </MudStack>
                                                </MudPaper>
                                                <MudPaper Class="pa-0" Elevation="0">
                                                    @if (publication.Comments.Count > 0)
                                                    {
                                                        @foreach (var comment in publication.Comments)
                                                        {
                                                            <MudStack Row="true" Class="mt-2">
                                                                <MudImage Src="@comment.UserProfilePicture"
                                                          Fluid="true"
                                                          Height="25"
                                                          Width="25"
                                                          Alt="User Comment"
                                                          Class="rounded-circle" />
                                                                <MudText Typo="Typo.subtitle2">@comment.UserName</MudText>
                                                            </MudStack>

                                                            <MudText Class="ml-10" Typo="Typo.body1">@comment.Message</MudText>
                                                        }
                                                    }
                                                </MudPaper>
                                            </MudPaper>

                                        </MudCardActions>
                                    </MudCard>
                                }
                            }
                        </MudItem>
                    </MudHidden>
                    <!-- Vista Mobile -->
                    <MudHidden Breakpoint="Breakpoint.MdAndDown" Invert="true">
                        <MudTabs Outlined="false" Elevation="4" Position="Position.Top" Rounded="true" Border="false" Centered="true"
                                 ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-3">
                            <MudTabPanel Text="Eventos">
                                <MudItem xs="12" sm="6">
                                    <MudPaper Height="auto" Elevation="2" Class="relative mt-1 mb-4 rounded-lg" Style="@($"background:{Colors.Shades.White};")">
                                        <MudGrid Spacing="0" Justify="Justify.Center" Style="margin:0;padding:0;max-height:auto; height:auto; ">
                                            <MudItem Style="width:85%;margin:0;padding:0;">
                                                <MudText Typo="Typo.h6"
                                                         Class="ml-2 pt-2 pb-2"
                                                         Align="Align.Start"><b>Agregar evento</b></MudText>
                                            </MudItem>
                                            <MudItem Style="width:15%;margin:0;padding:0;">
                                                <MudIconButton Icon="@Icons.Material.Filled.Add"
                                                               Color="Color.Default"
                                                               Href="Event"></MudIconButton>
                                            </MudItem>
                                        </MudGrid>
                                    </MudPaper>
                                    @if (EventService.Events?.Count == 0)
                                    {
                                        @if (eventResponse)
                                        {
                                            <MudGrid Justify="Justify.FlexStart">
                                                <MudItem>
                                                    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
                                                </MudItem>
                                                <MudItem Style="display: flex; align-items: center;">
                                                    <MudText Typo="Typo.subtitle2">Cargando Eventos...</MudText>
                                                </MudItem>
                                            </MudGrid>
                                        }
                                        else
                                        {
                                            <MudText Typo="Typo.body1">No se han encontrado eventos</MudText>
                                        }
                                    }
                                    else
                                    {
                                        @foreach (var eventCard in EventService.Events)
                                        {
                                            <MudCard Outlined="true" Elevation="6" Class="mb-3 rounded-lg" Style="width:100%; heigth:auto;">
                                                <MudCardHeader Class="pb-0">
                                                    <CardHeaderAvatar>
                                                        @switch (eventCard.SubCategory)
                                                        {
                                                            case "Papeles (Diarios, revistas, impresiones)":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/1-PapelYCarton.png" />
                                                                break;
                                                            case "Cajas de Cartón":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/1-PapelYCarton.png" />
                                                                break;
                                                            case "Cartón de uso cotidiano (Cajas de alimentos, tubitos de papel)":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/1-PapelYCarton.png" />
                                                                break;
                                                            case "Envases tipo brick (lavados)":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/1-PapelYCarton.png" />
                                                                break;
                                                            case "Otros Papeles y Cartones":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/1-PapelYCarton.png" />
                                                                break;
                                                            case "Botellas de Vidrio":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/2-Vidrio.png" />
                                                                break;
                                                            case "Tarros y frascos de conservas":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/2-Vidrio.png" />
                                                                break;
                                                            case "Jarras y copas de vidrio":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/2-Vidrio.png" />
                                                                break;
                                                            case "Otros Vidrios":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/2-Vidrio.png" />
                                                                break;
                                                            case "Botellas de Plástico":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/3-Plásticos.png" />
                                                                break;
                                                            case "Tapitas":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/3-Plásticos.png" />
                                                                break;
                                                            case "Bandejas":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/3-Plásticos.png" />
                                                                break;
                                                            case "Bolsas de plástico":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/3-Plásticos.png" />
                                                                break;
                                                            case "Otros Plásticos":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/3-Plásticos.png" />
                                                                break;
                                                            case "Aluminio (Latas)":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/4-Metales.png" />
                                                                break;
                                                            case "Cobre":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/4-Metales.png" />
                                                                break;
                                                            case "Hierro":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/4-Metales.png" />
                                                                break;
                                                            case "Otros Metales":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/4-Metales.png" />
                                                                break;
                                                            case "Pilas y baterías":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/6-DesechosPeligrosos.png" />
                                                                break;
                                                            case "Aceites":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/6-DesechosPeligrosos.png" />
                                                                break;
                                                            case "Residuos tecnológicos":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/6-DesechosPeligrosos.png" />
                                                                break;
                                                            case "Residuos hospitalarios infecciosos":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/6-DesechosPeligrosos.png" />
                                                                break;
                                                            case "Otros Desechos Peligrosos":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/6-DesechosPeligrosos.png" />
                                                                break;
                                                            case "Residuos orgánicos":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/19-Organicos.png" />
                                                                break;
                                                            case "Perecederos":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/7-Alimentos.png" />
                                                                break;
                                                            case "No perecederos":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/7-Alimentos.png" />
                                                                break;
                                                            case "Leche en polvo":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/7-Alimentos.png" />
                                                                break;
                                                            case "Leche entera":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/7-Alimentos.png" />
                                                                break;
                                                            case "Artículos para Bebés":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/8-Bebés.png" />
                                                                break;
                                                            case "Niños":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/9-Ropa.png" />
                                                                break;
                                                            case "Jóvenes":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/9-Ropa.png" />
                                                                break;
                                                            case "Adultos":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/9-Ropa.png" />
                                                                break;
                                                            case "Colchones y frazadas":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/10-Hogar.png" />
                                                                break;
                                                            case "Higiene y limpieza":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/10-Hogar.png" />
                                                                break;
                                                            case "Muebles":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/10-Hogar.png" />
                                                                break;
                                                            case "Electrodomésticos":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/10-Hogar.png" />
                                                                break;
                                                            case "Materiales para construcción":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/10-Hogar.png" />
                                                                break;
                                                            case "Pintura":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/10-Hogar.png" />
                                                                break;
                                                            case "Otros artículos para el hogar":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/10-Hogar.png" />
                                                                break;
                                                            case "Computadoras":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/11-Tecnología.png" />
                                                                break;
                                                            case "Celulares":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/11-Tecnología.png" />
                                                                break;
                                                            case "Otros artículos tecnológicos":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/11-Tecnología.png" />
                                                                break;
                                                            case "Juguetes":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/12-Recreación.png" />
                                                                break;
                                                            case "Instrumentos musicales":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/12-Recreación.png" />
                                                                break;
                                                            case "Artículos deportivos":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/12-Recreación.png" />
                                                                break;
                                                            case "Otros artículos para recreación":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/12-Recreación.png" />
                                                                break;
                                                            case "Útiles escolares y libros":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/13-UtilesEscolares.png" />
                                                                break;
                                                            case "Medicamentos":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/14-Salud.png" />
                                                                break;
                                                            case "Ortopedia":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/14-Salud.png" />
                                                                break;
                                                            case "Sangre":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/14-Salud.png" />
                                                                break;
                                                            case "Otros artículos para salud":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/14-Salud.png" />
                                                                break;
                                                            case "Adopción":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/15-Mascotas.png" />
                                                                break;
                                                            case "Alimento balanceado":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/15-Mascotas.png" />
                                                                break;
                                                            case "Otros artículos de mascotas":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/15-Mascotas.png" />
                                                                break;
                                                            case "Voluntariado":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/18-Voluntariado.png" />
                                                                break;
                                                            case "Dinero":
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/17-Dinero.png" />
                                                                break;
                                                            default:
                                                                <MudAvatar Size="Size.Medium" Style="@($"background:{Colors.Shades.White};")" Image="images/mapIcons/16-Otro.png" />
                                                                break;
                                                        }
                                                    </CardHeaderAvatar>
                                                    <CardHeaderContent>
                                                        <MudText Typo="Typo.h6"><b>@eventCard.Title</b></MudText>
                                                    </CardHeaderContent>
                                                    <CardHeaderActions>
                                                        <MudIconButton Icon="@Icons.Filled.Edit"
                                                               Color="Color.Default"
                                                               OnClick="@((e) => EditEvent(eventCard))"
                                                               aria-label="edit"></MudIconButton>
                                                    </CardHeaderActions>
                                                </MudCardHeader>
                                                <MudCardContent Class="pb-0">
                                                    <MudText Typo="Typo.body1">@eventCard.Description</MudText>

                                                    @*<MudDivider DividerType="DividerType.FullWidth" Class="my-6" Style="@($"background:{Colors.Shades.Black};")" />*@
                                                    <MudGrid Justify="Justify.FlexStart" Spacing="2">
                                                        <MudItem>
                                                            <MudText Typo="Typo.subtitle2" Style="@($"color:{Colors.Grey.Darken1};")">@eventCard.FatherCategory</MudText>
                                                        </MudItem>
                                                        <MudItem>
                                                            <MudText Typo="Typo.subtitle2" Style="@($"color:{Colors.Grey.Darken1};")">@eventCard.MainCategory</MudText>
                                                        </MudItem>
                                                        <MudItem>
                                                            <MudText Typo="Typo.subtitle2" Style="@($"color:{Colors.Grey.Darken1};")">@eventCard.SubCategory</MudText>
                                                        </MudItem>
                                                    </MudGrid>
                                                    @{
                                                        var date = string.Concat(eventCard.StartDate.ToShortDateString(), " - ", eventCard.EndDate.ToShortDateString());
                                                    }
                                                    <MudText Typo="Typo.subtitle2">@date</MudText>
                                                    @{
                                                        var st = string.Concat(eventCard.Street, " ", eventCard.StreetNumber, ", ", eventCard.City, ", ", eventCard.Province);
                                                    }
                                                    <MudText Typo="Typo.subtitle2" Style="@($"color:{Colors.Grey.Darken1};")">@st</MudText>
                                                </MudCardContent>
                                                <MudCardActions Class="mt-n2 pt-n4 mr-0">
                                                    @{
                                                        var wppLink = string.Concat("https://wa.me/", @UserService.UserDTO.Phone, "?text=Hola!%20Me%20comunico%20por%20el%20evento%20", @eventCard.Title);
                                                    }
                                                    <MudIconButton Style="@($"background:#25d366;color:#FFF;")"
                                                           Target="_blank"
                                                           Size="Size.Medium"
                                                           Href="@wppLink"
                                                           Class="ml-auto mr-4"
                                                           Icon="@Icons.Material.Filled.Whatsapp"></MudIconButton>
                                                </MudCardActions>
                                            </MudCard>
                                        }
                                    }

                                </MudItem>
                            </MudTabPanel>
                            <MudTabPanel Text="Publicaciones">
                                <MudItem xs="12" sm="6">
                                    <MudPaper Height="auto" Elevation="2" Class="relative mt-1 mb-4 rounded-lg" Style="@($"background:{Colors.Shades.White};")">
                                        <MudGrid Spacing="0" Justify="Justify.Center" Style="margin:0;padding:0;max-height:auto; height:auto; ">
                                            <MudItem Style="width:85%;margin:0;padding:0;">
                                                <MudText Typo="Typo.h6"
                                                         Class="ml-2 pt-2 pb-2"
                                                         Align="Align.Start"><b>Agregar publicaciones</b></MudText>
                                            </MudItem>
                                            <MudItem Style="width:15%;margin:0;padding:0;">
                                                <MudIconButton Icon="@Icons.Material.Filled.Add"
                                                               Color="Color.Default"
                                                               OnClick="@((e) => OpenDialog(closeButton))">
                                                </MudIconButton>
                                            </MudItem>
                                        </MudGrid>
                                    </MudPaper>
                                    @if (publications.Count == 0)
                                    {
                                        @if (publicationResponse)
                                        {
                                            <MudGrid Justify="Justify.FlexStart">
                                                <MudItem>
                                                    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
                                                </MudItem>
                                                <MudItem Style="display: flex; align-items: center;">
                                                    <MudText Typo="Typo.subtitle2">Cargando Publicaciones...</MudText>
                                                </MudItem>
                                            </MudGrid>
                                        }
                                        else
                                        {
                                            <MudText Typo="Typo.body1">No se han encontrado publicaciones</MudText>
                                        }
                                    }
                                    else
                                    {
                                        @foreach (var publication in publications)
                                        {
                                            <MudCard Class="mb-3 rounded-lg" Outlined="true" Style="width:100%; heigth:auto;">
                                                <MudCardHeader Class="mb-0 gap-1">
                                                    <CardHeaderAvatar>
                                                        @{
                                                            string photo = user.ProfilePicture == string.Empty ? "/images/user.png" : user.ProfilePicture;
                                                        }
                                                        <MudAvatar Size="Size.Medium" Image="@photo" />
                                                    </CardHeaderAvatar>
                                                    <CardHeaderContent>
                                                        @{
                                                            string fullName = string.Concat(@user.FirstName, ' ', @user.LastName);
                                                        }
                                                        <MudStack Class="gap-1" Row="true">
                                                            <MudText Typo="Typo.body1">@fullName</MudText>
                                                            @if (@user.IsONGVerified)
                                                            {
                                                                <MudIcon Icon="@Icons.Material.Filled.Verified" Color="Color.Info" Title="Verified" />

                                                            }
                                                        </MudStack>
                                                        <MudText Typo="Typo.caption">@publication.CreatedDate</MudText>
                                                    </CardHeaderContent>
                                                    <CardHeaderActions>
                                                        <MudIconButton Icon="@Icons.Filled.Edit"
                                                               Color="Color.Default"
                                                               OnClick="@((e) => EditPublication(publication))"
                                                               aria-label="edit"></MudIconButton>
                                                    </CardHeaderActions>
                                                </MudCardHeader>
                                                <MudCardContent Class="mt-0">
                                                    @if (publication.Images.Count > 1)
                                                    {
                                                        <MudCarousel Class="mud-width-full" Style="height:15rem;"
                                                         ShowArrows="true"
                                                         ShowBullets="false"
                                                         EnableSwipeGesture="true"
                                                         AutoCycle="false"
                                                         TData="object">
                                                            @foreach (var image in publication.Images)
                                                            {
                                                                <MudCarouselItem Transition="Transition.Slide">
                                                                    <MudImage Fluid="true"
                                                              Src="@image.FileContent"
                                                              ObjectFit="ObjectFit.None"
                                                              Height="250" />
                                                                </MudCarouselItem>
                                                            }
                                                        </MudCarousel>
                                                    }
                                                    else if (publication.Images.Count == 1)
                                                    {
                                                        <MudImage Class="mud-width-full"
                                                      Src="@publication.Images.FirstOrDefault().FileContent"
                                                      Fluid="true"
                                                      ObjectFit="ObjectFit.None"
                                                      Height="250" />
                                                    }
                                                    <MudText Class="mt-4" Typo="Typo.body2">@publication.Description</MudText>
                                                </MudCardContent>
                                                <MudCardActions>
                                                    <MudPaper Class="d-flex flex-column flex-grow-1 gap-0" Elevation="0">
                                                        <MudPaper Class="pa-0" Elevation="0">
                                                            <MudStack Row="true">
                                                                <MudText Class="ml-1 mr-n3 pa-0" Typo="Typo.body1">@publication.Like.Count</MudText>
                                                                <MudIconButton Class="pa-0 ma-0"
                                                                       Icon="@Icons.Material.Filled.Favorite"
                                                                       OnClick="@((e) => Like(publication.Id))"
                                                                       DisableRipple="true"
                                                                       Color="@((publication.Like.Liked)  ? Color.Error : Color.Default)" />
                                                            </MudStack>
                                                        </MudPaper>
                                                        <MudPaper Class="pa-0" Elevation="0">
                                                            <MudStack Row="true">
                                                                <MudTextField Class="mt-n4" @bind-Value="NewCommentText" DisableUnderLine="true" Placeholder="Agrega un comentario" />
                                                                <MudIconButton Class="pa-0 mt-1"
                                                                       Icon="@Icons.Material.Filled.Send"
                                                                       OnClick="@((e) => AddComment(publication.Id))"
                                                                       Color="Color.Info"
                                                                       DisableRipple="true" />
                                                            </MudStack>
                                                        </MudPaper>
                                                        <MudPaper Class="pa-0" Elevation="0">
                                                            @if (publication.Comments.Count > 0)
                                                            {
                                                                @foreach (var comment in publication.Comments)
                                                                {
                                                                    <MudStack Row="true" Class="mt-2">
                                                                        <MudImage Src="@comment.UserProfilePicture"
                                                                  Fluid="true"
                                                                  Height="25"
                                                                  Width="25"
                                                                  Alt="User Comment"
                                                                  Class="rounded-circle" />
                                                                        <MudText Typo="Typo.subtitle2">@comment.UserName</MudText>
                                                                    </MudStack>

                                                                    <MudText Class="ml-10" Typo="Typo.body1">@comment.Message</MudText>
                                                                }
                                                            }
                                                        </MudPaper>
                                                    </MudPaper>

                                                </MudCardActions>
                                            </MudCard>
                                        }
                                    }
                                </MudItem>
                            </MudTabPanel>
                        </MudTabs>
                    </MudHidden>
                </MudGrid>
            </div>
        </MudGrid>
        <MudScrollToTop Class="fixed" style="bottom:20px;left:20px;">
            <MudFab Color="Color.Warning" Icon="@Icons.Material.Filled.ArrowCircleUp" />
        </MudScrollToTop>
    </MudMainContent>
</MudLayout>

@code {
    UserResponseDTO user = new UserResponseDTO();
    private List<EventResponseDTO> events = new List<EventResponseDTO>();
    bool success;
    string portraitUrl = "images/portrait/portrait_1.png";
    private List<PublicationResponseDTO> publications = new List<PublicationResponseDTO>();
    bool publicationResponse = true;
    bool eventResponse = true;
    public string NewCommentText = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await UserService.GetCurrentUserInfo();

        user = UserService.UserDTO;

        switch (user.UserPortraitId)
        {
            case 1:
                portraitUrl = "images/portrait/portrait_1.png";
                break;
            case 2:
                portraitUrl = "images/portrait/portrait_2.png";
                break;
            case 3:
                portraitUrl = "images/portrait/portrait_3.png";
                break;
            case 4:
                portraitUrl = "images/portrait/portrait_4.png";
                break;
            case 5:
                portraitUrl = "images/portrait/portrait_5.png";
                break;
            case 6:
                portraitUrl = "images/portrait/portrait_6.png";
                break;
            case 7:
                portraitUrl = "images/portrait/portrait_7.png";
                break;
            case 8:
                portraitUrl = "images/portrait/portrait_8.png";
                break;
            case 9:
                portraitUrl = "images/portrait/portrait_9.png";
                break;
            case 10:
                portraitUrl = "images/portrait/portrait_10.png";
                break;
            case 11:
                portraitUrl = "images/portrait/portrait_11.png";
                break;
            case 12:
                portraitUrl = "images/portrait/portrait_12.png";
                break;
            case 13:
                portraitUrl = "images/portrait/portrait_13.png";
                break;
            case 14:
                portraitUrl = "images/portrait/portrait_14.png";
                break;
            case 15:
                portraitUrl = "images/portrait/portrait_15.png";
                break;
            case 16:
                portraitUrl = "images/portrait/portrait_16.png";
                break;
            case 17:
                portraitUrl = "images/portrait/portrait_17.png";
                break;
            case 18:
                portraitUrl = "images/portrait/portrait_18.png";
                break;
            default:
                portraitUrl = "images/portrait/portrait_1.png";
                break;
        }

        UserService.OnChange += StateHasChanged;

        eventResponse = await EventService.GetEventByUserId(user.Id);
        EventService.EventsChanged += StateHasChanged;

        publicationResponse = await PublicationService.GetPublicationsByUser(UserService.UserDTO.Id);
        publications = PublicationService.PublicationsDTO;
    }

    async Task EditUser(UserResponseDTO user)
    {
        var parameters = new DialogParameters { ["user"] = user };
        DialogOptions fullScreen = new DialogOptions() { FullScreen = true, CloseButton = true };

        var dialog = DialogService.Show<EditProfileUserInfoDialog>("Edit User", parameters, fullScreen);
        var result = await dialog.Result;

        await InvokeAsync(() => { StateHasChanged(); });
        if (!result.Cancelled)
        {
        }
    }

    async Task EditEvent(EventResponseDTO eventToEdit)
    {
        var parameters = new DialogParameters { ["eventToEdit"] = eventToEdit };

        var dialog = DialogService.Show<EditEventInfoDialog>("Edit Event", parameters);
        var result = await dialog.Result;

        await InvokeAsync(() => { StateHasChanged(); });
        if (!result.Cancelled)
        {
        }
    }

    private async void UploadProfilePicture(InputFileChangeEventArgs e)
    {
        var format = "image/png";
        foreach (var image in e.GetMultipleFiles(int.MaxValue))
        {
            var resizedImage = await image.RequestImageFileAsync(format, 200, 200);
            var buffer = new byte[resizedImage.Size];
            await resizedImage.OpenReadStream().ReadAsync(buffer);
            var imageData = $"data:{format};base64,{Convert.ToBase64String(buffer)}";

            var guid = Guid.NewGuid();
            var photoToDb = new Image
                {
                    FileName = string.Concat(user.FirstName, "_", user.LastName, "_", guid.ToString()),
                    FileContent = imageData,
                    FileSize = resizedImage.Size,
                    Guid = guid.ToString()
                };
            var result = await UserService.EditProfilePhoto(photoToDb);

            if (result.Success) user.ProfilePicture = imageData;
            await InvokeAsync(() => { StateHasChanged(); });
        }
        UserService.OnChange += StateHasChanged;
    }

    async Task UploadPortrait()
    {
        var parameters = new DialogParameters { ["user"] = user };

        var dialog = DialogService.Show<SelectPortraitPhotoDialog>("Select Portrait", parameters);
        var result = await dialog.Result;

        switch (result.Data)
        {
            case 1:
                portraitUrl = "images/portrait/portrait_1.png";
                break;
            case 2:
                portraitUrl = "images/portrait/portrait_2.png";
                break;
            case 3:
                portraitUrl = "images/portrait/portrait_3.png";
                break;
            case 4:
                portraitUrl = "images/portrait/portrait_4.png";
                break;
            case 5:
                portraitUrl = "images/portrait/portrait_5.png";
                break;
            case 6:
                portraitUrl = "images/portrait/portrait_6.png";
                break;
            case 7:
                portraitUrl = "images/portrait/portrait_7.png";
                break;
            case 8:
                portraitUrl = "images/portrait/portrait_8.png";
                break;
            case 9:
                portraitUrl = "images/portrait/portrait_9.png";
                break;
            case 10:
                portraitUrl = "images/portrait/portrait_10.png";
                break;
            case 11:
                portraitUrl = "images/portrait/portrait_11.png";
                break;
            case 12:
                portraitUrl = "images/portrait/portrait_12.png";
                break;
            case 13:
                portraitUrl = "images/portrait/portrait_13.png";
                break;
            case 14:
                portraitUrl = "images/portrait/portrait_14.png";
                break;
            case 15:
                portraitUrl = "images/portrait/portrait_15.png";
                break;
            case 16:
                portraitUrl = "images/portrait/portrait_16.png";
                break;
            case 17:
                portraitUrl = "images/portrait/portrait_17.png";
                break;
            case 18:
                portraitUrl = "images/portrait/portrait_18.png";
                break;
            default:
                portraitUrl = "images/portrait/portrait_1.png";
                break;
        }

        await InvokeAsync(() => { StateHasChanged(); });
        if (!result.Cancelled)
        {
        }
    }

    DialogOptions closeButton = new DialogOptions() { CloseButton = true };

    private void OpenDialog(DialogOptions options)
    {
        DialogService.Show<CreatePublicationDialog>("CreatePublication", options);
    }

    async Task EditPublication(PublicationResponseDTO publicationToEdit)
    {
        var parameters = new DialogParameters { ["publicationToEdit"] = publicationToEdit };

        var dialog = DialogService.Show<EditPublicationInfoDialog>("Edit Publication", parameters);
        var result = await dialog.Result;

        await InvokeAsync(() => { StateHasChanged(); });
        if (!result.Cancelled)
        {
        }
    }

    async Task Like(int publicationId)
    {
        var likeRes = (await LikeService.CheckLike(publicationId)).Data;
        await InvokeAsync(() => { StateHasChanged(); });

    }

    public async Task AddComment(int publicationId)
    {
        if (!string.IsNullOrWhiteSpace(NewCommentText))
        {
            var response = (await CommentService.AddComment(publicationId, NewCommentText));
            await InvokeAsync(() => { StateHasChanged(); });
        }
        NewCommentText = string.Empty;
    }

    public void Dispose()
    {
        UserService.OnChange -= StateHasChanged;
        EventService.EventsChanged -= StateHasChanged;
    }

}